@charset "UTF-8";
.section{
	width : 1000px;
	position : relative;
	height: 100%;
	top : 50px;
	margin-bottom: 100px;
	overflow: hidden;
}

.section h2{
	font-size: 40px;
	text-align: center;
	color : white;
	text-shadow: 0px 0px 12px white;
}

.section h4{
	text-shadow: 0px 0px 2px #7f7f7f;
	font-size: 18px;
}

ul,li{list-style:none; margin: 0px; padding: 0px;}
.slide{height:600px;overflow:hidden;position:relative;}
.slide ul{width:calc(100% * 3);display:flex;transition:1s;}
.slide li{width:calc(100% / 3);height:600px;}
.slide li:nth-child(1){background-image: url("../image/memento1.JPG"); background-size: 100%; background-repeat: no-repeat;}
.slide li:nth-child(2){background-image: url("../image/memento2.JPG"); background-size: 100%; background-repeat: no-repeat;}
.slide li:nth-child(3){background-image: url("../image/memento3.JPG"); background-size: 100%; background-repeat: no-repeat;}
.slide input{display:none;}
.slide .bullet{position:absolute;bottom:20px;left:0;right:0;text-align:center;z-index:10;}
.slide .bullet label{
    width:15px;
    height:15px;
    border-radius:15px;
    border:2px solid #666;
    display:inline-block;
    background:#fff;
    font-size:0;
    transition:0.5s;
    cursor:pointer;}

#pos1:checked ~ ul{margin-left:0;}
#pos2:checked ~ ul{margin-left:-100%;}
#pos3:checked ~ ul{margin-left:-200%;}

#pos1:checked ~ .bullet label:nth-child(1),
#pos2:checked ~ .bullet label:nth-child(2),
#pos3:checked ~ .bullet label:nth-child(3){background:#666;}
